:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

$titulo-size: 48px;

@mixin margin-padrao{
    margin: 1em 0 2em 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400px;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

    &__box{
        margin: 0 6em;
    }

    &__titulo{
        font-size: 28px;
        font-weight: 700px;
    }

    &__botao{
        background-color: var(--botao-azul);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration: none;
        margin-bottom: 1em;
    }
    
    .segundo{
        background-color: transparent;
        border: 2px solid var(--branco-principal);
    }

    &__aviso{
        font-size: 12px;
        color: var(--cinza-secundario);
    }

    &__imagem{
        @include margin-padrao;
    }

    &__descricao{
        padding: 2em;
    }

}

.principal{
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.secundario{
    align-items: center;
    margin: 0 10em;

    &__imagem{
        width: 80%;
    }

    &__botao{
        display: inline-block;
        margin-top: 1em;
    }

    .descricao{
        &__titulo{
            font-weight: 700;
            font-size: $titulo-size;
            color: var(--branco-principal);
            margin-bottom: 0.1em;
        }

        &__texto{
            color: var(--cinza-secundario);
        }
    }

}

.dispositivos{
    text-align: center;

    &__titulo{
        font-size: $titulo-size;
        color: var(--branco-principal);
    }

    &__lista{
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;

        &__item{
            font-size: 32px;
        }
    }
}